@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/* Variables for color */
:root {
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --dkcyan: hsl(179, 100%, 13%);
  --tpwhite: hsla(0, 0%, 100%, 0.75);
  --ltgray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--ltgray);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tpwhite);
}

/* styling for entire card component */
.options-card {
  width: 100vw;
  height: 100vh;
  width: 87.2%;
  max-width: 20.44rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

/* styling for individual car cards */
.car-card {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 3em;
}

/* specific styling for card colors and borders */
.sedans {
    background-color: var(--orange);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
  
  .suvs {
    background-color: var(--cyan);
  }
  
  .luxury {
    background-color: var(--dkcyan);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
  
/* styling for heading and text contents */
h1 {
  color: var(--ltgray);
  font-size: 2.5rem;
  font-family: "Big Shoulders Display", cursive;
}

.description {
  color: var(--tpwhite);
  font-size: 0.9375rem;
  font-weight: 400;
  opacity: 75%;
  line-height: 1.67;
}

/* styling for buttons */
.learn-btn {
  align-self: flex-start;
  padding: 0.8em 2.13em;
  border: none;
  border-radius: 2em;
  background-color: var(--ltgray);
  font-size: 0.9375rem;
  font-family: "Lexend Deca", sans-serif;
}

.learn-btn:hover, 
.learn-btn:focus {
    padding: 0.6em 1.93em;
    border: 0.1em solid var(--ltgray);
    background-color: transparent;
    color: var(--ltgray)
}

/* button font colors */
.orange {
  color: var(--orange);
}

.cyan {
  color: var(--cyan);
}

.dkcyan {
  color: var(--dkcyan);
}

/* Media query for responsive styling */
@media (min-width: 768px) {
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .options-card {
    max-width: 57.5rem;
    max-height: 31.25rem;
    flex-direction: row;
    align-items: center;
  }

  .sedans {
    border-bottom-left-radius: 0.5em;
    border-top-right-radius: 0em;
  }

  .luxury {
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0em;
  }
}
