/* 
Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)


font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/* Variables for color */
:root {
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --dkcyan: hsl(179, 100%, 13%);
  --tpwhite: hsla(0, 0%, 100%, 0.75);
  --ltgray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
}

body {
  background-color: var(--ltgray);
}
